<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport Mail Automation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Bulk Petroleum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/previous">Previous Uploads</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/logout" class="btn btn-danger btn-sm pull-right" >Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container-fluid text-center">
        <h1>Previous Data</h1>
        <table id="example" class="table  table-striped table-bordered">
            <thead>
                <tr>
                  <th>Location Code</th>
                  <th>Location Name</th>
                  <th>Tank Truck Number</th>
                  <th>Transporter Code</th>
                  <th>Transporter Name</th>
                  <th>Total No of Trips</th>
                  <th>Trips With Violations</th>
                  <th>Speed Violations</th>
                  <th>Stoppage Violations</th>
                  <th>Route Violations</th>
                  <th>From Date</th>
                  <th>To Date</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<details.length; i++) { %>
                    <tr>
                        <td><%= details[i].LOCATION_CODE %></td>
                        <td><%= details[i].LOCATION_NAME %></td>
                        <td><%= details[i].TANK_TRUCK_NUMBER %></td>
                        <td><%= details[i].TRANSPORTER_CODE %></td>
                        <td><%= details[i].TRANSPORTER_NAME %></td>
                        <td><%= details[i].TOTAL_NO_OF_TRIPS %></td>
                        <td><%= details[i].TOTAL_TRIPS_WITH_VOILATION %></td>
                        <td><%= details[i].NO_OF_SPEED_VOILATIONS %></td>
                        <td><%= details[i].NO_OF_STOPPAGE_VOILATIONS %></td>
                        <td><%= details[i].NO_OF_ROUTE_VOILATIONS %> </td>
                        <td><%= details[i].FROM_DATE %></td>
                        <td><%= details[i].TO_DATE %></td>
                      </tr>
                <% } %>
              </tbody>
        </table>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
   <script>
       $(document).ready(function() {
    $('#example').DataTable();
    } );
   </script>
</body>
</html>